<!--About page
Name: Hyujin Park
Student ID: 301157840
Date: 2022/10/02  
-->



<section id="introductions" class="section">
  <div class="section__container">
   <h1>About Me</h1>
   <div class="introduction">
     <div class="intro">
       <img
         src="Assets/images/profile.jpg"
         alt="People"
         class="introduction__avatar"
       />
       <div class="introduction__speech-bubble">
         <p>
          My name is Hyunjin Park. I am from South Korea. 
          I am a taking software enginniring technology
          program in Centennial college. I have interesting programming language.
          Espcially, I like to learn HTML,CSS and JavaScript. I hope to become web developer
          when I finish this program.I want to create app and web for people. 
         </p>
       </div>
     </div>
   </div>
  </div>
  <a href="https://drive.google.com/file/d/1PucgJkaNbutsbhrEHUvxoEaJ0hJznR1K/view?usp=sharing">
  <button class="pdf" type="button">Resume</button></a>
</section>


     <!--Skills-->
   <section id="skills" class="section">
    <div class="section__container">
      <h1>Skills</h1>
      <h2>Skills & Attributes</h2>
  
      <div class="skillset">
        <div class="skillset__left">
          <h3 class="skillset__title">Skills</h3>
          <div class="skill">
            <div class="skill__description">
              <span>HTML</span>
              <span>80%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill__description">
              <span>CSS</span>
              <span>80%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill__description">
              <span>JavaScript</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 60%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill__description">
              <span>Java</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 60%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill__description">
              <span>C#</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 60%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill__description">
              <span>DB</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value" style="width: 60%;"></div>
            </div>
          </div>
        </div>
        <div class="skillset__right">
          <div class="tools">
            <h3 class="skillset__title">Tools</h3>
            <ul class="tools__list">
              <li><span>Visual Studio Code</span></li>
              <li><span>IntelliJ</span></li>
              <li><span>Visual Studio</span></li>
              <li><span>Oracle Sql</span></li>
              <li><span>Eclips</span></li>
            </ul>
          </div>
          <div class="etc">
            <h3 class="skillset__title">Etc</h3>
            <ul class="etc__list">
              <li><span>GitHub</span></li>
              <li><span>Microsoft office</span></li>
              <li><span>Math</span></li>
            </ul>
          </div>
        </div>
    </div>
  </section>
   
  
  
