<!-- 
File name: assignment2 comp229(301157840)
Student name: Hyunjin Park
Student Id: 301157840
Date: 2022/10/31
-->
<!-- Bottom Nav -->
 <section id="contact1" class="section">
     <h1 class="contact__title">Let's talk</h1>
     <h2 class="contact__email">ca5522397@gmail.com</h2>
     <div class="contact__links">
       <a href="https://github.com/Hyunjin07" target="_blank">
         <i class="fab fa-github"></i>
       </a>
     </div>
     <div class="contact__rights">
       <h2>&copy;2022.All Rights reserved</h2>
       
      </div>
   </section>