<!-- Home page
Name: Hyujin Park
Student ID: 301157840
Date: 2022/10/02
-->
    <section id="lesson" class="section">
    <div class="lessons">
     <h1>Motivation</h1>
     <div class="lesson">
       <img
         src="Assets/images/mark.png"
         alt="people_icon"
         class="lesson__icon"
       />
       <div class="lesson__explain">
         <br>
         <p>
          If you can code. 
          <br>
          You can create something in a sitting position,
          <br>
          and no one will be able to stop you.
            </p>
           <h3>-Mark Zuckerberg-</h3>
       </div>
     </div>
    
     <div class="lesson">
       <div class="lesson__explain">
         <br>
        <p>  
          Don't play with your mobile phone and make a program. 
          <br>
          Learning to code is very important not only for your future, 
          <br>
          but also for the future of your country.
        </p> 
         <h3>-Barack Hussein Obama-</h3> 
       </div>
       
       <img
         src="Assets/images/barack.png"
         alt="people_i`con"
         class="lesson__icon"
       />
       </div>
   


     <div class="lesson">
       <img
         src="Assets/images/stev.png"
         alt="people_icon"
         class="lesson__icon"
       />
       <div class="lesson__explain">
         <br>
         <p>
          Everyone should learn to code. 
          <br>
          Because computer programs teach 
          <br>
          you how to think.
         </p>
         <h3>-Steve Jobs-</h3>
       </div>
    </div>

  </div>

</section>