<!-- 
File name: assignment2 comp229(301157840)
Student name: Hyunjin Park
Student Id: 301157840
Date: 2022/10/31
-->
<%- include('partials/header.ejs') %>
<section id="services" class="section">
  <div class="section__container">
   
   
   <div class="service">
     <div class="serve">
       <img
         src="Assets/images/web.png"
         alt="web_icon"
         class="service__icon"
       />
       <div class="service__explain">
         <br>
         <h2>Create Web page and desgine</h2>
         <p>
          I can provide to create web page and desgine. I can divide layout and
          decorate webpage and connect server by using HTML,CSS,Javascript,
          node.js, and MongoDB.
         </p>
       </div>
     </div>
    
     <div class="serve">
       <div class="service__explain">
         <br>
        <h2>General programming</h2>
         <p>
         I can use C#, Java, HTMML, CSS, JavaScript, Node.js. I learned OOP System.
         So, I can write simple code and simple web.
         </p>
       </div>
       
       <img
         src="Assets/images/program.png"
         alt="cording_icon"
         class="service__icon"
       />
       </div>
     </div>


     <div class="serve">
       <img
         src="Assets/images/db.png"
         alt="db_icon"
         class="service__icon"
       />
       <div class="service__explain">
         <br>
         <h2>Database manage</h2>
         <p>
          I can use Oracle Db, My sql, and MongoDB. So, I can manage data and get data from source
          So, I can crolling data from public data. Therefore, I can arrange data.

         </p>
       </div>
     </div>
    
</div>
 
</section>

   
    
 